.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
.Rproj.user/shared/notebooks/paths
.DS_Store
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/7AA9EADE/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/7AA9EADE/pcs/files-pane.pper
.Rproj.user/7AA9EADE/pcs/windowlayoutstate.pper
.Rproj.user/7AA9EADE/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
input/data/UNE_DEAP_SEX_AGE_EDU_RT_A.csv
