.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
.Rproj.user/shared/notebooks/paths
.DS_Store
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/7AA9EADE/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
